

header#top {
	background-color: #808080;
	height: 500px;

}

header h1 img {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	max-width: 100%;
	height: auto;
}


header h1, header h2 {
			text-align: center;
			color: gray;
	font-weight: 500;
}



.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 {
	font-size: 50px;
}

body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        background: #262626;
        margin: 30px;
	margin-top: 80px;
	font-weight: 500;
	line-height: 1.1;

    }



div#overlay {
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}
div#Box {
	text-align: center;
	display: none;
	position: fixed;
	z-index: 3;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-250px;
	width: 500px;
	height: 300px;
	background: #FFF;
	color: #000;
}
 body #infofenster {
 	font-weight: bold;
 	font-size: 120%;
 	color: red;
}

#filter {
			margin: 20px;
			height: 100px;
			text-align: center;
			}



#filter input, label {
	width:200px;
    display:block;
}

table.tfilter{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}


#container {
	width: 100%;
	/*background-image: url(../pictures/hintergrund.png);*/
	background-color: #eee;
	border-radius: 30px
	
	
}	
content {
		width: 80%;
		padding: 0px;
		text-align: center;
		margin: 100px auto;
		
	
	}
			
aside{
		width: 600px;
		background: #262626;
		margin: 0px;
		position:fixed;
		top:0px;
		text-align: center;
		display: inline-block;
	left: 50%;
	margin-left: -300px; /* Half of the width */

}

.stuck {
	width: 100%;
	left: 0px;
	margin-left: 0px;
	opacity: 0.7;

}

.stuck:hover {
	margin: 0px;
	left: 0px;
	width: 100%;
	opacity: 1;
}

        
aside img {
	margin: 20px;
    opacity: 0.8;
}

			
aside img:hover {
    opacity: 1;
}
        

        a {text-decoration: none;}

		table.tdata td {
			padding: 3%;
			text-align: left;
			border-bottom: 2px solid #337ab7;
			/*border-bottom: 2px solid #FFAD5C;*/
			
		}
		
		table.tdata {
			padding: 10px;
			margin-left: auto;
			margin-right: auto;
			border-spacing: 0px;
			
		}
		
		
		table.tdata th{
			padding: 10px;
			/*border: solid 1px #707070;*/
			/*box-shadow: 0 0 5px 1px #969696;*/
			border-collapse: collapse;
			background: #337ab7;
			/*background: #FFAD5C;*/
			color:white;

			border-spacing: 0px;
			
		}
		table.tdata tr{

			
			
		}
		
		
		
		table.tdata th:first-child{
			border-top-left-radius: 8px;
		}
		table.tdata th:last-child{
			border-top-right-radius: 8px;
		}
		
		
		table.tinput{
		margin: 20px;
			margin-left: auto;
			margin-right: auto;
		}

		 input  , select {

			 padding: 6px 12px;
			 font-size: 14px;
			 line-height: 1.42857143;
			 color: #555;
			 background-color: #fff;
			 background-image: none;
			 border: 1px solid #ccc;
			 border-radius: 4px;

		 }

		 .button {

			 font-size: 18px;
			 line-height: 1.3333333;
			 border-radius: 6px;
			 color: #fff;
			 background-color: #337ab7;
			 border-color: #2e6da4;
			 border: 1px solid transparent;
		 }

		input:focus, select:focus, select.focus
		input.focus {
			border: solid 1px #707070;
			box-shadow: 0 0 5px 1px #969696;
		}


		#headlines, .full-width {
			/*
		  width: 100%;
		  background: #FFAD5C;
		   border-top: 1px solid #8c8c8c;	/* Rahmenbreite, Rahmenstyle, Rahmenfarbe
		  
		  */
		  color: #262626;
		  text-align: center;
		  /*box-shadow: 0px -2px 2px gray;*/
			border-top: 1px solid #8c8c8c;	/* Rahmenbreite, Rahmenstyle, Rahmenfarbe */
		}

		#headlines:first-of-type{
			border: none;
		}

		#googleMap {
		
		width:500px;
		height:380px;
		margin: 80px;
		margin-left: auto;
		margin-right: auto;
		}
	
	#stats {
		text-align: center;
	}
	

address {
	text-align: center;
	font-size: 70%	
}

.errorMsg {
	/*display:none; */
	text-align: center;
	font-size: 75%;
	color:Red;
}

footer {
	padding: 10px; /* ABstand Rahmen - Text */
	border-top: 1px solid #8c8c8c;	/* Rahmenbreite, Rahmenstyle, Rahmenfarbe */
	margin-top: 20px;
	letter-spacing: 1px;
}



