
header#Kopfbereich {background-color: #808080;
					text-align: center;
}
header h2 {
	color: white;
}

body {
	background-image: url(hintergrund.png);
	color: black;
	font-family: Verdana,Arial;
	font-size: 87,5%;
}

table.erstetabelle {
	border-collapse: separate; /* Rahmenlinien der Tabelle werden getrennt */
	border-spacing: 1px;	   /* Standartbreite der Zwischenräume */
	padding-left: 300px;

	/* border-collapse : collapse;*/ /* um keinen Rahmen mehr zwischen den Spalten zu haben */
}

thead {background-color: #ffa500;}

tbody {background-color: #ffeb91;}


th, td {
	text-align: left;
	vertical-align: top;
	padding: 1em 0,5em; 

}

tbody tr:nth-child(even){ background-color: #fff6cc;} /* Allen gerade Zeilen eine andere Farbe verpassen, even = gerade , odd= ungerade */



nav {
	text-align: left;
	color: black;
	background-color: #c0c0c0;	
	padding: 5px 20px 4px 20px;
	border-bottom: 1px solid #c0c0c0;

}

nav ul {margin:0;}

nav li {
	display: inline; /* Das Blockelement in ein Inlineelement umwandeln, da Blockelemente untereinander angezeigt werden und Inline nebeneinander */
	list-style-type: none; /* Aufzählungszeichen sollen nicht angezeigt werden */
	margin:0 10px 0 0;
}

nav a {
	color: black;
	background-color: #c0c0c0;
	padding: 4px 8px;
	border: 1px solid #c0c0c0;

}

nav a:hover, nav a:focus { 
	text-decoration: none;
	border-bottom-color: white;
	background-color: white;
	color: black;

}

nav a:active{
	color: #d90000;
	background-color: white;
	
}
nav a.current {
	color: black;
	background-color: white;
	border-bottom-color: white;
}

div.Kopfzeile {
	background: #808080;
	float: left;
	border: 25px;
	margin-right: 20px;
	font-style: italic;
}

input[type="image"] { 
	width: auto; /* Für die Größe des Bild Buttons */
	height:auto;
}

a {text-decoration: none;} /* Link hat keine Unterstreichung mehr */
a:link {color: #d90000; }   /* unbesuchter Link*/
a:visited {color: #cc6666;} /* besuchter Link */
a:hover, a:focus {text-decoration: none;} /* Wenn man mit der Maus über den Link fährt, hover + focus meistens in Kombination */
a:active {
	background-color: #d90000;	/* Wenn man den Link mit der Maus anklickt */
	color: white; /* Die Schriftfarbe des Links beim anklicken */
}

address {
	text-align: center;
	font-size: 70%	
}

footer#Fussbereich {
	padding-top: 10px; /* ABstand Rahmen - Text */
	border-top: 1px solid #8c8c8c;	/* Rahmenbreite, Rahmenstyle, Rahmenfarbe */
	margin-top: 20px;
	letter-spacing: 1px;
}





